@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*/

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary;
  }

  * {
    @apply transition-colors duration-100;
  }

  h1 {
    @apply text-3xl;
    @apply font-semibold;
    @apply mb-4;
    @apply text-yellow-500;
  }

  h2 {
    @apply text-2xl;
    @apply font-semibold;
    @apply mb-4;
    @apply text-yellow-600;
  }

  h3 {
    @apply text-xl;
    @apply font-semibold;
    @apply mb-4;
    @apply text-yellow-600;
  }

  h4 {
    @apply text-lg;
    @apply font-medium;
    @apply text-amber-500;
  }

  h5 {
    @apply text-base;
    @apply font-medium;
  }

  a {
    @apply text-yellow-400;
    @apply hover:text-amber-600;
  }


}

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
